/*
* {
   outline: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
*/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.jumbotron{
  margin-top:60px;
}

.title{
  text-algin:center;
  font-family:  'Tangerine', 'Arial', 'times',  cursive, sans-serif;

}

h1.title{
   font-weight:bold;
   font-size:150px;
   line-height: 40px;
   color:#00469E;
}

h2.title{
   font-size:75px;
   color:#00469E;
}

li{
  margin:10px;
}

ul{
  margin-left: -30px;
}

.mainimage{
  width:100%;
}

.image{
  width:70%;
  margin-top:10%;
  border-radius:8px;
}

.image1{
    width:90%;
    margin-top:30%;
  }

.image2{
    width:77%;
  }

.background{
  width:100%;
}

.description{
  padding:25px;
  margin:auto;
  text-align:justify;
}

.row {
  display:flex;
  text-align:center;
  }

.background{
  background:url("https://lh6.googleusercontent.com/RC6RyP2gd3qQAOqExQzQ0hoUV-jpcGayKKuWmsl8CV3g7PoPrh6fCfQrygk=w1200-h630-p");
  background-repeat:repeat;
  background-size:100%;
  background-position:center top;
  background-attachment: fixed;

}

.effect{
  background-color:rgba( 240, 240, 240, 0.7);
}

a.lisa:hover{
  color:blue;
}

.lisalink {
  text-decoration:none;
  color:white;
}

footer p{
  color:white;
}

#video{
  width:100%;
  margin-left:0%;
  margin-right:0%;
}

/* under 768px */
@media(max-width:768px){

  h1.title{
    font-size: 12vw;
    line-height: 5px;
  }

  h2.title{
    font-size: 8vw;
    margin:20px 0 30px 0;
  }

  .row{
    flex-wrap: wrap;
    display:wrap;
  }

  li{
    margin:10px;
  }

  ul{
    margin-left: -10px;
  }

  .mainimage{
    width:100%;
  }

  .image{
    width: 70%;
    height:80%;
  }

  .image1{
    width:80%;
    margin-top: 20px;
  }

  .image2{
    width:75%;
  }

  .background{
    width:100%;
  }


@media (max-width:380px){
  .row{
    flex-wrap: wrap;
  }
}
